@{
    ViewBag.Title = "Orleans Orniscient Dashboard";
}
<div id="mynetwork"></div>
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.signalR-2.2.0.min.js")"></script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/orniscient.js")"></script>
}


