@{
    ViewBag.Title = "Silo connection failed";
}
<div class="container">
    <div class="jumbotron text-center" style="margin-top: 30px;">
        <h1>Silo connection failed</h1>
        <p>We could not connect to the silo that you specified. Please try again in a few moments</p>
        <p><a class="btn btn-primary btn-lg" href="@Url.Action("Index", "Connection")" role="button">Try Again</a></p>
    </div>
</div>

