body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/*Override bootstrap styles  */
.navbar-inverse {
    background-color: rgba(13,38,55,1) !important;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.bigContainer {
    width: 100% !important;
    max-width: 100% !important;
}

.width100 {
    max-width: 100% !important;
    width: 100% !important;
}

.padding20 {
    padding: 20px;
}

.form-control.inline {
    display: inline !important;
}

.textbutton {
    margin-left: -5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
